NameVirtualHost *:80
{% for vhost in apache_vhosts %}
<VirtualHost *:80>
  ServerName {{vhost.sn}}
  DocumentRoot {{vhost.dr}}
{% if vhost.sa %}
  ServerAdmin {{vhost.sa}}
{% endif%}
  <Directory "{{vhost.dir}}">
     AllowOverride All
     Options Indexes FollowSymLinks
     Order allow,deny
     Allow from all
  </Directory>
</VirtualHost>
{% endfor%}
